In [1]:
import pandas as pd
import numpy as np
import os

/Users/lirt/miniconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
password = os.environ['POSTGRES_PASSWORD']
username = os.environ['POSTGRES_USER']
database = os.environ['POSTGRES_DBNAME']
host = os.environ['POSTGRES_HOST']
port = os.environ['POSTGRES_PORT']

In [4]:
# Load the SQL extension
%load_ext sql

# Connect to the PostgreSQL database using SQLAlchemy format
%sql postgresql://{username}:{password}@{host}:{port}/{database}

### What products are the complaints about, and how many complaints are there for each product?

In [5]:
%%sql
SELECT 
    product,
    COUNT(*) AS count,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(product) FROM complaints WHERE product IS NOT NULL), 2) AS percentage
FROM
    complaints
GROUP BY
    product
ORDER BY
    2 DESC

 * postgresql://postgres:***@localhost:5432/complaints
11 rows affected.

[('Mortgage', 186475, Decimal('33.54')),
 ('Debt collection', 101052, Decimal('18.18')),
 ('Credit reporting', 91854, Decimal('16.52')),
 ('Credit card', 66468, Decimal('11.96')),
 ('Bank account or service', 62563, Decimal('11.25')),
 ('Consumer Loan', 20990, Decimal('3.78')),
 ('Student loan', 15839, Decimal('2.85')),
 ('Payday loan', 3877, Decimal('0.70')),
 ('Money transfers', 3812, Decimal('0.69')),
 ('Prepaid card', 2470, Decimal('0.44')),
 ('Other financial service', 557, Decimal('0.10'))]

### What are the top 5 companies that received the most complaints?